		td {
			font-size	:	16px;
		}
		
		a {
			color		:	#02458B;
		}

		button {
			padding		:	0px 2px 0px 2px;
			margin		:	0px;
			border		:	1px solid black;
		}

		.error {
			color		:	#f00;
			font-weight	:	bold;
		}

		a.selected {
			background-color:	#ccc;
			color		:	#000;
			text-decoration	:	none;
		}

		#downloads {
			height		:	25px;
			border-bottom	: 1px solid #AAA;
			padding		: 10px 0px 10px 25px;
		}

		#downloads:hover {
			background-color: #DDD
		}


		#downloads a {
			color		:	#333366;
			font-size	:	18px;
		}

		#downloads a:hover {
			text-decoration: underline;
			}

		#page_links {
			width: 250px;
			padding-top	: 50px;
			vertical-align: top;
		}		

		#page_links a {
			font-family: "Pragati Narrow";
			color		:	#02458B;
			text-decoration	:	none;
			font-size	:	18px;
			font-weight: bold;
			line-height: 21px;
		}

		#hotel_link a {
			color		:	#E80101;
			text-decoration	:	none;
			font-size	:	16px;
			font-weight	:	bold;
		}
		
		h1 {
			color		:	#004990;
			margin: 15px 0px;
		}

		h2 {
			color		:	#004990;
		}

		#content {
			width		: 	970px; 
			height		:	100%;
			border          :       1px solid #000;
			background	:	#FFF;
		
		}
		
		#menu {
			text-align	   : center;
			padding		   : 2px 20px 2px 20px;
			margin		   : 40px 0px;
			border-top     : 1px solid #000;
			border-bottom  : 1px solid #000;
		}
		
		#menu a {
			font-size	: 20px;
			color		: #000;
			padding		: 0px 10px;
		}
		
		#menu a:hover {
			color		: #545253;
			text-decoration: underline;
		}
		
		#doc_table{
			border		: 1px solid #000;
		}
		
		#doc_table img {
			border		: none;
		}
		
		#doc_heading td {
                        background-color: #D5DBEB;
                        border-bottom   : 1px solid #000;
                        font-weight     : bold;
                        font-size       : 14px;
                        height          : 55px;
                        padding         : 0px 10px 0px 10px;
                }

		.doc_even td {
                        padding: 10px;
                        background-color: #A9BDD8;
                        height          : 40px;
                }

                .doc_odd td {
                        padding: 10px;
                        background-color: #CBD3E6;
                        height          : 40px;
                }
		
		#filter input {
                        width: 130px;
                }

                #filter td {
                        font-size: 11px;
                        font-style: italic;
                        color: #F00;
                }
		
		#documentTable {
			background-color: #FFF;
			border: 1px solid #AAA;
			width:700px;
		}
		
		.simpleHead {
			font-weight: 500;
			font-size: 16px;
			margin:10px auto;
			text-align: center;
		}

		#footerLinks {
			text-align: center;
		}
		
		#footerLinks a {
			font-size: 18px;
			padding: 0px 20px;
		}
		
		#footerLinks a:hover {
			text-decoration: underline;
			color: #02458b;
		}
		
		.logoutlink {
			padding-left: 150px;
		}